<div class="well" ng-controller="authCtrl">
    <div class="alert alert-info" ng-hide="authenticationError">
        Enter your username and password and click log in to authenticate
    </div>
    <div class="alert alert-danger" ng-show="authenticationError">
        authentication failed ({{authenticationError.staus}}).try again
    </div>
    <form name="authForm" novalidate>
        <div class="form-group">
            <lable>username</lable>
            <input name="username" class="form-control" ng-model="user" required />
        </div>
        <div class="form-group">
            <lable>password</lable>
            <input name="password" class="form-control" ng-model="password" required />
        </div>
        <div class="text-center">
            <button ng-click="authenticate(user,password)" ng-disabled="authForm.$invalid" class="btn btn-primary">Log In</button>
        </div>
    </form>
</div>