<h2>Your Cart</h2>
<div ng-controller="cartSummaryController">
    <div class="alert alert-warning" ng-show="cartData.length==0">
        There are no products in your shopping cart.
        <a href="#/product" class="alert-link">Click here to return to the catalogue</a>
    </div>
    <div ng-hide="cartData.length==0">
        <table class="table">
            <thead>
            <tr>
                <th class="text-center">Quantity</th>
                <th class="text-center">Item</th>
                <th class="text-center">Price</th>
                <th class="text-center">Subtotal</th>
                <th class="text-center">opera</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in cartData">
                <td class="text-center">{{item.count}}</td>
                <td class="text-center">{{item.name}}</td>
                <td class="text-center">{{item.price|currency}}</td>
                <td class="text-center">{{item.price*item.count|currency}}</td>
                <td class="text-center">
                    <button ng-click="remove(item.id)" class="btn btn-sm btn-warning">remove</button>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="4" class="text-right">Total:</td>
                <td class="text-center">
                    {{total()|currency}}
                </td>
            </tr>
            </tfoot>
        </table>

        <div class="text-center">
            <a href="#/products" class="btn btn-primary">Continue shopping</a>
            <a href="#/placeorder" class="btn btn-primary">Place order now</a>
        </div>
    </div>

</div>
