<style>
    .ng-invalid {
        background-color: lightpink;
    }
        .ng-valid{
            background-color:lightgreen;
        }
    span.error{
        color:red;
        fong-weight:bold;
    }
</style>
<h2>Check out now</h2>
<p>please enter your details,and we'll ship your goods right away!</p>
<form name="shippingForm">
<div class="well">
    <h3>ship to</h3>
    <div class="form-group">
        <label>name</label>
        <input name="name" type="text" class="form-control" ng-model="data.shipping.name" required/>
        <span class="error" ng-show="shippingForm.name.$error.required">please enter a name</span>
    </div>
    <h3>Address</h3>
    <div class="form-group">
        <lable>Street address</lable>
        <input name="street" type="text" class="form-control" ng-model="data.shipping.street" required/>
        <span class="error" ng-show="shippingForm.street.$error.required">please enter a street</span>
    </div>
    <div class="form-group">
        <label for="">city</label>
        <input name="city" type="text" class="form-control" ng-model="data.shipping.city" required/>
        <span class="error" ng-show="shippingForm.city.$error.required">
            please enter a city
        </span>
    </div>
    <div class="form-group">
        <label for="">state</label>
        <input type="text" class="form-control" name="state" ng-model="data.shipping.state"  required/>
          <span class="error" ng-show="shippingForm.state.$error.required">
            please enter a state
        </span>
    </div>
    <div class="form-group">
        <lable>zip</lable>
        <input type="text" class="form-control" name="zip" ng-model="data.shipping.zip" required/>
        <span class="error" ng-show="shippingForm.zip.$error.required">
            please enter a zip
        </span>
    </div>
    <div class="form-group">
        <lable>country</lable>
        <input type="text" class="form-control" name="country" ng-model="data.shipping.country" required/>
        <span class="error" ng-show="shippingForm.country.$error.required">
            please enter a country
        </span>
    </div>
    <h3>options</h3>
    <div class="checkbox">
        <lable>
            <input type="checkbox" name="giftwrap" ng-model="data.shipping.giftwrap"/>
            gift wrap these items
        </lable>
    </div>
    <div class="text-center">
        <button ng-click="sendOrder(data.shipping)" ng-disabled="shippingForm.$invalid" class="btn btn-primary">complete order</button>
    </div>

</div>
</form>